// fonts
$font-main: 'Roboto Slab', serif;
$font-simpletext: 'Roboto', sans-serif;

// colors
$color-main: #ffffff;
$color-secondary-detail: #6c933e;
$color-secondary-fp: #4a4a4a;
$color-secondary-repetsubtitle: #000000;

// borders
$box-shadow-main: 0 4px 4px 0 rgba(0, 0, 0, 0.25)




