@use "../core/variables" as vars;

.footer {
  width: 100vw;
  min-width: 320px;
  min-height: 433px;
  background-color: vars.$color-secondary-fp;
  position: relative;
  display: grid;
  justify-items: center;
  &__button--arrow {
    width: 38.2px;
    height: 38.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    position:absolute;
    bottom: 406px;


    svg {
      fill: vars.$color-secondary-detail;
    }
  }

  &__content {
    padding-top: 60.5px;
    color: vars.$color-main;
    font-family: vars.$font-simpletext;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;

    &__link {
      display: grid;
      justify-items: center;
      text-transform: uppercase;
      line-height: 30px;
      font-size: 16px;
      list-style: none;
    }

    &__others {
      display: grid;
      justify-items: center;
      line-height: 30px;
      font-size: 14px;
    }
  }
}
