@use '../core/variables' as vars;

.footer {
    width: 100vw;
    min-width: 320px;
    min-height: 433px;
    left: 0;
    bottom: 0;
    padding: 1rem;
    color: vars.$color-main;
    background-color: vars.$color-secondary-fp;
    text-transform: uppercase;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: vars.$font-simpletext;
    
    
    &__link {
        list-style: none;
        justify-items: center;
        text-decoration: none;
        display: grid;
    }
    &__social-media {
        list-style: none;
        justify-items: center;
        text-decoration: none;
        display: grid;


    }
    &__footer-others {
        list-style: none;
        justify-items: center;
        text-decoration: none;
        display: grid;

    }
    


    
}