@use '../core/variables' as vars;

.page__footer {
    left: 0;
    bottom: 0;
    padding: 1rem;
    color: vars.$color-main;
    background-color: vars.$color-secondary-fp;
    text-transform: uppercase;
}