@use "../core/variables" as vars;

.footer {
  width: 100vw;
  min-width: 320px;
  min-height: 433px;
  background-color: vars.$color-secondary-fp;
  position: relative;
  display: grid;
  justify-items: center;

  &__button--arrow {
    width: 38.2px;
    height: 38.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 406px;
    animation: mover 2s linear infinite alternate;

    svg {
      fill: vars.$color-secondary-detail;
    }
  }

  &__content {
    padding-top: 60.5px;
    color: vars.$color-main;
    font-family: vars.$font-simpletext;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;

    &__link {
      display: grid;
      justify-items: center;
      text-transform: uppercase;
      line-height: 30px;
      font-size: 16px;
      list-style: none;
    }

    &__others {
      display: grid;
      justify-items: center;
      line-height: 30px;
      font-size: 14px;
      align-items: center;
    }
  }
}

@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(-25px);
  }
}

@media all and (min-width: 768px) {
  .footer {
    min-height: 15rem; /*240px*/

    &__button--arrow {
      width: 45px;
      height: 45px;
      bottom: 217px;
    }

    &__content {
      padding-top: 3.5rem; /*56px*/
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "others link1 link2";
      align-content: start;
      align-items: start;
      text-align: left;

      gap: 6rem;

      &__link {
        display: grid;
        justify-items: center;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 16px;
        list-style: none;
        justify-items: left;
      }

      &__others {
        display: grid;
        grid-area: others;
        justify-self: start;
        align-items: flex-start;
        justify-items: left;
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .footer {
    min-height: 240px;
    &__content {
      padding-top: 3.6875rem; /*59*/
      gap: 20rem;
    }
  }
}
