@use "../core/variables" as vars;

.page__header {
  width: 100vw;
  min-width: 20rem;
  min-height: 34.5625rem;
  height: 100vh;
  background-image: url("../../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82%;

  .hero {
    color: vars.$color-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      margin-top: 18.5625rem; /*297px*/
      text-transform: uppercase;
      font-size: 1.876rem; /*30px*/
      font-weight: 600;
      text-align: center;
      line-height: 3.125rem; /*50*/
    }
    &__subtitle {
      font-size: 1rem; /*16px*/
      line-height: 1.1875rem; /*19px*/
      padding-left: 2.1375rem; /*34.2px*/
      padding-right: 2.65625rem; /*42.5*/
      font-family: vars.$font-simpletext;
      text-align: center;
      margin-top: 1rem;
    }
    &__button--scroll-down {
      width: 38.2px;
      height: 38.2px;
      background-color: vars.$color-main;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-top: 1rem;
      border: none;
      svg {
        fill: vars.$color-secondary-detail;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .page__header {
    min-height: 47.8125rem; /*765px*/ /*785*/ /*rebajar 20px a cada elemento del header*/
    background-position: 72%;
    background-position-y: 1.25rem;

    .hero {
      margin-top: -1.25rem;

      &__title {
        font-size: 4.6875rem; /*75px*/
        margin-top: 26.19375rem; /*419.1px*/
        line-height: 6.25rem; /*100px*/
        width: 600px;
      }
      &__subtitle {
        font-size: 1.5rem; /*24px*/
        line-height: 1.75rem; /*28px*/
        padding-left: 13.025rem; /*208.4px*/
        padding-right: 13.7rem; /*219.2px*/
        margin-top: 0;
      }

      &__button--scroll-down {
        width: 45px;
        height: 45px;
        margin: 1rem; /*25.2px*/
        margin-bottom: 0;
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .page__header {
    min-height: 54rem; /*768*/
    height: 868px;
    background-size: 135%;
    background-position-x: 60%;
    background-position-y: 60%;

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-top: 0rem;
      height: 54.26rem;

      &__title {
        /*409px*/
        /*71.7*/ /*61.7*/ /*margin: 53px;*/
        width: 600px;
      }

      &__button--scroll-down {
        width: 45px;
        height: 45px;
        margin-top: 0px; /*25.2px*/
        margin-bottom: 54px;
      }
    }
  }
}

@media all and (min-width: 1437px) {
  .page__header {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
