@use "../core/variables" as vars;

.page__header {
  width: 100vw;
  min-width: 320px;
  min-height: 553px;
  height: 100vh;
  background-image: url("../../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82%;

  .hero {
    color: vars.$color-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      margin-top: 18.5625rem; /*297px*/
      text-transform: uppercase;
      font-size: 1.876rem; /*30px*/
      font-weight: 600;
      text-align: center;
      line-height: 3.125rem; /*50*/
    }
    &__subtitle {
      font-size: 1rem; /*16px*/
      line-height: 1.1875rem; /*19px*/
      padding-left: 2.1375rem; /*34.2px*/
      padding-right: 2.65625rem; /*42.5*/
      /*padding-bottom: 8.125rem; /*130px*/
      font-family: vars.$font-simpletext;
      text-align: center;
      margin-top: 1rem;
    }
    &__button--scroll-down {
      width: 38.2px;
      height: 38.2px;
      background-color: vars.$color-main;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-top: 1rem;
      border: none;
      svg {
        fill: vars.$color-secondary-detail;
      }
    }
  }
}
