.page__header {
    width: 100vw;
    min-width: 320px;
   /* min-height: 553px;*/
    min-height: 553px;
    background-image:url("../../images/cover.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 85%;
    
    .menu__link--adalab {
        width: 36.4px;
        height: 36.8px;
        background-color: #6c933e;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
    }
     .hero {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;

            .hero__h1--title {
                padding-top: 297px;
                text-transform: uppercase;
                font-size: 1.876rem; /*30px*/
                font-weight: 600;
                text-align: center;
                line-height: 3.125rem; /*50*/
                }
                .hero__p--subtitle {
                font-size: 1rem; /*16px*/
                line-height: 1.1875rem; /*19px*/
                padding-left: 2.1375rem; /*34.2px*/
                padding-right: 2.65625rem;/*42.5*/
                /*padding-bottom: 8.125rem; /*130px*/

                }
        }

        
        
}
