@use "../core/variables" as vars;

.nav-button {
  width: 36.4px;
  height: 36.8px;
  background-color: vars.$color-secondary-detail;
  top: 0;
  left: 0;
  border: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
}
