@use "../core/variables" as vars;

.nav-button {
  background-color: vars.$color-bg;
  top: 0;
  left: 0;
  border: none;
  z-index: 9999;
  position: fixed;
  display: flex;
  width: 36.4px;
  height: 36.8px;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  transform: none;
}
