@use "../core/variables" as vars;
.section-white {
  width: 100vw;
  min-width: 320px;
  height: auto;
  margin-left: 0.8125em; /*13*/

  &__subtitle {
    margin-top: 2.125em; /*34px*/
    font-family: vars.$font-simpletext;
    text-transform: uppercase;
    font-size: 0.875em; /*14px*/
    color: vars.$color-secondary-detail;
    line-height: 1.875em; /*30px*/
    margin-right: 3.9375em; /*63*/
    font-weight: 100;
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.375em; /*22px*/
    line-height: 1.876em; /*30px*/
    /*margin-right: 1.0625em;/*17*/
    color: vars.$color-secondary-repetsubtitle;
  }
  &__paragraph {
    font-family: vars.$font-simpletext;
    color: vars.$color-secondary-fp;
    line-height: 30px;
    font-size: 18px;
    margin-right: 17px;
  }

  &__button {
    width: 160px;
    height: 45px;
    border-bottom: 2px solid;
    border-color: vars.$color-secondary-detail;
    border-radius: 22.5px;
    font-size: 20px;
    text-align: center;
    color: vars.$color-secondary-detail;
    background-color: vars.$color-main;
    margin-bottom: 28px;
    margin-top: 48px;
    margin-left: 2px;
      .section-white__button:hover{
        clear: inherit;
      
    }
  }
}

.section-green {
  background-color: #d9e4cc;
  width: 100%;
  min-width: 320px;
  min-height: 656px;
  height: auto;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  gap: 0.5rem;

&__header{
  margin-top: 18px;
  &-slogan {
    color: #626262;
    font-size: 12px;
    /*creo que hay un error y no debería tener line height 30*/
  }
  &-title {
    color: vars.$color-secondary-repetsubtitle;
    font-size: 20px;
    text-transform: uppercase;
  }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr; /* solo una columna*/
    /* colocar elementos en el centro y poner espacios*/
    text-align: center;
    gap: 1rem;

    &-suplies {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 30px;
      list-style: none;

      &-image {
        border-radius: 50%;
        width: 122px;
        height: 133px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__button {
    background-color: vars.$color-secondary-detail;
    width: 184px;
    height: 47.4px;
    border: none;
    font-family: vars.$font-simpletext;
    font-size: 20px;
    color: vars.$color-main;
    border-radius: 22.5px;
    margin-bottom: 30.7px;
  }
}
