@use "../core/variables" as vars;
.main__section--white {
  width: 100vw;
  min-width: 320px;
  height: auto;
  margin-left: 0.8125em; /*13*/

  .section-white__subtitle {
    margin-top: 2.125em; /*34px*/
    font-family: vars.$font-simpletext;
    text-transform: uppercase;
    font-size: 0.875em; /*14px*/
    color: vars.$color-bg;
    line-height: 1.875em; /*30px*/
    margin-right: 3.9375em; /*63*/
    font-weight: 100;
  }
  .section-white__title {
    text-transform: uppercase;
    font-size: 1.375em; /*22px*/
    line-height: 1.876em; /*30px*/
    /*margin-right: 1.0625em;/*17*/
    color: vars.$color-h2-h4;
  }
  .section-white__paragraph {
    font-family: vars.$font-simpletext;
    color: vars.$color-secondary;
    line-height: 30px;
    font-size: 18px;
    margin-right: 17px;
  }

  .section-white__botton {
    width: 160px;
    height: 45px;
    border-bottom: 2px solid;
    border-color: vars.$color-bg;
    border-radius: 22.5px;
    font-size: 20px;
    text-align: center;
    color: vars.$color-bg;
    background-color: white;
    margin-bottom: 28px;
    margin-top: 48px;
    margin-left: 2px;
      .section-white__botton:hover{
        clear: inherit;
      
    }
  }
}

.main__section--green {
  background-color: #d9e4cc;
  width: 100%;
  min-width: 320px;

  height: auto;

  .section-green__slogan {
    color: #626262;
    font-size: 12px;
    line-height: 30px;
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 11px;
    text-align: center;
  }
  .section__green__title {
    color: vars.$color-h2-h4;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    color: vars.$color-h2-h4;
    margin-left: 13px;
    margin-right: 17px;
    text-align: center;
  }
  .big-box__div {
    display: grid;
    grid-template-columns: 1fr; /* solo una columna*/
    /* colocar elementos en el centro y poner espacios*/
    justify-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 32px;

    .box__div {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      .box__image {
        border-radius: 50%;
        width: 114px;
        height: 124.1px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}
