@use "../core/variables" as vars;
.section-white {
  width: 100vw;
  min-width: 320px;
  min-height: 376px;
  height: auto;
  margin-left: 0.8125rem; /*13*/

  &__subtitle {
    margin-top: 2.125rem; /*34px*/
    font-family: vars.$font-simpletext;
    text-transform: uppercase;
    font-size: 0.875rem; /*14px*/
    color: vars.$color-secondary-detail;
    line-height: 1.875rem; /*30px*/
    font-weight: 100;
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.375rem; /*22px*/
    line-height: 1.876rem; /*30px*/
    /*margin-right: 1.0625rem;/*17*/
    color: vars.$color-secondary-repetsubtitle;
  }
  &__paragraph {
    font-family: vars.$font-simpletext;
    color: vars.$color-secondary-fp;
    line-height: 1.875rem; /*30px*/
    font-size: 1.125rem; /*18px*/
    margin-right: 1.0625rem;
    margin-top: 0.625px; /*10px*/
    /*width: 18.125rem; /*290*/
    width: 90%; /*290*/
  }

  &__button {
    width: 160px;
    height: 45px;
    border-color: vars.$color-secondary-detail;
    color: vars.$color-secondary-detail;
    background-color: vars.$color-main;
    border-radius: 22.5px;
    font-size: 20px;
    text-align: center;
    border-radius: 22.5px;
    border: solid 2px;
    margin-bottom: 28px;
    margin-top: 2.625rem; /*42*/
    margin-left: 2px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      background-color: vars.$color-secondary-detail;
      color: vars.$color-main;
      box-shadow: vars.$box-shadow-main;
    }
  }
}

.section-green {
  background-color: #d9e4cc;
  width: 100%;
  min-width: 320px;
  height: auto;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  gap: 0.5rem;

  &__header {
    margin-top: 1.125rem;
    &-slogan {
      color: #626262;
      font-size: 0.75rem; /*12px*/
      /*creo que hay un error y no debería tener line height 30*/
      line-height: 30px;
    }
    &-title {
      color: vars.$color-secondary-repetsubtitle;
      font-size: 1.25rem; /*20px*/
      text-transform: uppercase;
      line-height: 1.875; /*30px*/
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;

    &-suplies {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      line-height: 30px;
      list-style: none;

      &-image {
        border-radius: 50%;
        width: 122px;
        height: 133px;
        box-shadow: vars.$box-shadow-main;
      }
    }
  }

  &__button {
    background-color: vars.$color-secondary-detail;
    width: 184px;
    height: 47.4px;
    border: none;
    font-family: vars.$font-simpletext;
    font-size: 20px;
    color: vars.$color-main;
    border-radius: 22.5px;
    margin-bottom: 30.7px;
    line-height: 45px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      background-color: vars.$color-main;
      color: vars.$color-secondary-detail;
      box-shadow: vars.$box-shadow-main;
    }
  }
}

@media all and (min-width: 768px) {
  .section-white {
    min-height: 20.8125rem; /*333*/
    margin-left: 2.31875rem; /*37.1*/
    height: auto;

    &__subtitle {
      margin-top: 2.33125rem; /*37.3px*/
      font-size: 1rem; /*16px*/
      font-weight: 100;
    }
    &__title {
      font-size: 2rem; /*32px*/
    }
    &__paragraph {
      font-size: 1.125rem; /*20px*/
      margin-right: 2.44375rem; /*39.1px*/
      margin-top: 0.75625rem; /*12.1px*/
    }
    &__button {
      width: 137.5px;
      height: 45.4px;
      border-bottom: 2px solid;

      margin-bottom: 3.84375rem; /*61.5*/
      margin-top: 1.325rem; /*21.2*/
    }
  }
  .section-green {
    min-height: 25.625rem; /*410*/
    height: auto;

    &__header {
      margin-top: 1.6875rem; /*27*/
      &-slogan {
        font-size: 0.75rem; /*12px*/
        /*creo que hay un error y no debería tener line height 30*/
        /*line-height: 1.87rem; /*30*/
      }
      &-title {
        font-size: 1.75rem; /*28px*/
        /*line-height: 2.8125; no se me ajusta usando line height /*45px*/
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* solo una columna*/
      /* colocar elementos en el centro y poner espacios*/
      justify-items: center;
      align-items: center;
      gap: 6rem;

      &-suplies {
        font-size: 18px;
      }
    }

    &__button {
      width: 184px;
      height: 45px;
      margin-bottom: 50px;
    }
  }
}

@media all and (min-width: 1280px) {
  .section-white {
    min-height: 21.4375px; /*343px*/
    margin-left: 10.625rem; /*170px*/

    &__subtitle {
      margin-top: 2.4375rem; /*39px*/
      margin-left: 0.5px;
    }
    &__title {
      font-size: 2rem; /*32px*/
    }
    &__paragraph {
      line-height: 1.875rem; /*30px*/
      font-size: 1.25rem; /*20px*/
      margin: 0rem;
      margin-top: 1.375rem; /*22px*/
      width: 58.875rem; /*942px*/
    }

    &__button {
      width: 159.9px;
      height: 45px;
      margin-bottom: 59px; /*59px*/
      margin-top: 2.5625rem; /*41*/
      margin-left: 2.8px;
    }
  }

  .section-green {
    min-height: 24rem; /*387px*/
    height: auto;

    &__header {
      &-title {
        line-height: 2.8125rem; /*45px*/
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* solo una columna*/
      /* colocar elementos en el centro y poner espacios*/
      justify-items: center;
      align-items: center;
      gap: 12rem;

      &-suplies {
        font-size: 18px;
      }
    }

    &__button {
      width: 184px;
      height: 45px;
      margin-bottom: 3rem;
    }
  }
}
