<footer class="footer">
  <ul class="footer__link">
    <il><a href="">Zapatillas</a></il>
    <il><a href="">Ropa</a></il>
    <il><a href="">Niño/a</a></il>
    <il><a href="">>Destacados</a></il>
    <il><a href="">Tips</a></il>
  </ul>
  <ul class="footer__social-media">
    <il><a href="">Twitter</a></il>
    <il><a href="">Instagram</a></il>
    <il><a href="">Youtube</a></il>
  </ul>
  </ul class="footer__others">
    <il>&copy;</il>
    <il>we<span style="color: green;">&#10084;</span>run</il>
  </ul>
</footer>
