<main>
  <section class="section-white">
    <h3 class="section-white__subtitle">Historias, moda y ropa deportiva</h3>
    <h2 class="section-white__title">Tu tienta de deporte</h2>
    <p class="section-white__paragraph">
      El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa
      deportiva para hombre y mujer te ofrece las últimas tecnologías, a la
      altura de tu rendimiento, para que superes tu mejor marca personal
    </p>
    <button class="section-white__button"><a href=""></a>Comprar</button>
  </section>
  <section class="section-green">
    <div class="section-green__header">
      <h4 class="section-green__header-slogan">¡Prepáralos con tus marcas favoritas!</h4>
      <h2 id="main-section" class="section-green__header-title">Vuelta al cole</h2>
    </div>
    <ul class="section-green__list">
      <li class="section-green__list-suplies">
        <img
          class="section-green__list-suplies-image"
          src="../images/lpbts-mod05-img01-desk.png"
          alt="Mochilas"
        />
        <span>Mochilas escolares</span>
      </li>
      <li class="section-green__list-suplies">
        <img
          class="section-green__list-suplies-image"
          src="../images/lpbts-mod05-img04-mob.png"
          alt="Estuches"
        />
        <span>Estuches</span>
      </li>
      <li class="section-green__list-suplies">
        <img
          src="../images/lpbts-mod05-img03-mob.png"
          class="section-green__list-suplies-image"
          alt="Bolsa de deporte"
        />
        <span>Bolsas de deporte</span>
      </li>
    </ul>
    <button class="section-green__button"><a href=""></a>Empezar ahora</button>
  </section>
</main>
