<main>
    <section class="main__section--white">
        <h3 class="section-white__subtitle">Historias, moda y ropa deportiva</h3>
        <h2 class="section-white__title">Tu tienta de deporte</h2>
        <p class="section-white__paragraph">El deporte nos mantiene en forma. Nos mantiene alerta. 
            Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías,
            a la altura de tu rendimiento, para que superes tu mejor marca personal </p>
        <button class="section-white__botton">Comprar</button>
    </section>
    <section class="main__section--green">
        <h4 class="section-green__slogan">¡Prepáralos con tus marcas favoritas!</h4>
        <h2 class="section__green__title">Vuelta al cole</h2>

        <div class="big-box__div">
        <div class="box__div--backpacks">
            <a href=""><img src="../images/lpbts-mod05-img01-desk.png" alt="Mochilas"></a>
            <h4>Mochilas escolares</h4>
        </div>
        <div class="box__div--cases">
            <a href=""><img src="../images/lpbts-mod05-img03-mob.png" alt="Mochilas"></a>
            <h4>Estuches</h4>
        </div>
        <div>
            <a href="box__div--sport-bag"><img src="../images/lpbts-mod05-img04-mob.png" alt="Mochilas"></a>
            <h4>Bolsas de deporte</h4>
        </div>
        </div>

        <button>Empezar ahora</button>
    </section>
</main>